/*Containeer*/
.container{
  width: 100%;height: 100vh;
  background-color: #7e93df;
  margin: 0 auto;
  padding: 5% 20%;
  display: grid;
  gap:1rem;
}
/*Card*/
.card{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__container{
  background-color: #fefefe;
  height: 60vh;
  width: 80%;
  padding:2rem;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  -webkit-box-shadow: 0px 9px 17px -1px rgba(0,0,0,0.77);
  -moz-box-shadow: 0px 9px 17px -1px rgba(0,0,0,0.77);
  box-shadow: 0px 9px 17px -1px rgba(0,0,0,0.77);
}
.card__title{
  text-align: center;
}

/*FORM*/
.compress__form{
  display: flex;
flex-direction: column;
height: 100%;
justify-content: space-around;
gap: 50px;
}
/*Buttons*/
.btn{
  width: 100%; 
  padding: .6rem 2rem;
  background-color: #5275f5;
  color:#fefefe;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color .3s ease-in;
}
.btn:disabled{
  cursor: auto;
  background:#6b7fca;
  transition: none;
}
.btn:disabled:hover{
  background:#6b7fca;
}
.btn:hover{
  background-color: #2855fa;
}
/*Dropzone*/
.dropzone{
  text-align: center;
  padding: 20px;
  background: #f1f1f1;
  border: 1px rgb(22, 22, 22) dashed;
  width: 100%; height: 30vh;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*PREVIEW*/
.preview{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  gap: 15px;
  width: 100%;
  /* min-height: 30vh;
  max-height: 50vh; */
  height: 80%;
  margin-top: 20px;
}
.preview__image{
  max-height: 30vh;
  margin: 0 25%;
}
.preview__input{
  padding:5px;
  outline: none;
  background: #efefef;
  border: none;
  border-bottom: 1px solid #000;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/*Loader*/
.spinner__container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #5678EF;
  animation: spinner-a4dj62 1s infinite linear;
 }
 
 .spinner::before,
 .spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
 }
 
 .spinner::after {
  margin: 8px;
  animation-duration: 3s;
 }
 
 @keyframes spinner-a4dj62 {
  100% {
   transform: rotate(1turn);
  }
 }